[Match]
Name=starlink

[Link]
MTUBytes=1500
Multicast=no

[Network]
DHCP=yes
IPMasquerade=ipv4
DHCPv6=yes
DHCPv6PrefixDelegation=yes
IPv6PrefixDelegation=dhcpv6
LinkLocalAddressing=ipv6
IPv6DuplicateAddressDetection=1
DHCPv6PrefixDelegation=yes
IPv6PrivacyExtensions=yes
DHCPPrefixDelegation=yes

[IPv6Prefix]
Assign=yes

[IPv6PrefixDelegation]
RouterLifetimeSec=300

[DHCP]
UseRoutes=true
RouteTable=1000
Anonymize=true
UseDNS=false
UseHostname=false
SendHostname=false
RouteMetric=100
UseMTU=false

[IPv6AcceptRA]
Token=eui64
UseDNS=no
UseDNS=no
DHCPv6Client=yes

[DHCPv6]
RapidCommit=false
PrefixDelegationHint=::/64
WithoutRA=solicit
UseAddress=yes
