[Match]
Name=internal

[Network]
Address=192.168.1.1/24
Address=fe80::1/64

IPMasquerade=yes
DHCPServer=yes
MulticastDNS=yes
ConfigureWithoutCarrier=yes
LinkLocalAddressing=ipv6
IPForward=yes
IPv6SendRA=yes

[IPv6Prefix]
Prefix=fdfd:deed:dfdf::/64
PreferredLifetimeSec=3600
ValidLifetimeSec=7200
Assign=yes

[DHCPServer]
PoolOffset=30
PoolSize=200
DefaultLeaseTimeSec=3000s
EmitDNS=yes
DNS=192.168.1.1

[RoutingPolicyRule]
To=192.168.1.1
From=192.168.1.0/24
Table=local
