#!/usr/bin/xdg-open
[Desktop Entry]
Version=1.0
Name=Vula
Type=Application
Terminal=false
Exec=bash -c 'vula gui'
Icon=/usr/share/icons/vula_gui_icon.png